:root {
  --black: #171321;
  --white: #f7f8fa;
  --maroon: #500000;
  --dkmaroon: #351113;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  background-color: var(--white);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  /* background-color: var(--mint); */
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  border: 1px solid var(--white);
  cursor: pointer;
}

.button:hover {
  background-color: var(--dkmaroon);
}

/* containers */
.container-maroon {
  background-color: var(--maroon);
}

/* navbar styles */
.navbar {
  font-family: var(--mono);
  font-size: 80%;
  padding: 0.8rem 1rem;
  background-color: var(--maroon);
  color: var(--white);
  position: fixed;
  width: 100%;
}

.navbar ul {
  /* mobile view */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar li:first-child {
  /* mobile view */
  flex-basis: 100%;
  text-align: center;
}

.navbar a {
  color: var(--white);
  display: flex;
  /* display: inline-block; */
  min-width: 2rem;
}

svg {
  fill: var(--white);
  height: 1.2rem;
}

@media (min-width: 768px) {
  /* pc view */
  .navbar {
    margin: 0 auto;
  }

  .navbar li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
}

/* map styles */
#map {
  padding: 1rem;
  padding-top: calc(112px + 1rem);
  height: 100vh;
}

/* data-panel styles */
#data-panel {
  padding: 1rem;
  border-left: none;
  border-top: 1px solid var(--dkmaroon);
  height: 50vh;
}

@media (min-width: 768px) {
  /* pc view */
  main {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  #map {
    border-bottom: none;
    padding-top: calc(58.4px + 1rem);
  }

  #data-panel {
    padding-top: calc(58.4px + 1rem);
    height: 100vh;
    border-top: none;
    border-left: 1px solid var(--dkmaroon);
  }
}

/* backdrop & message styles */
.message-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.message-card {
  border: 1px solid white;
  width: 50vw;
  height: 80vh;
  border-radius: 30px;
  background-color: var(--white);
  overflow-y: auto;
  padding: 1rem;
}

.message {
  color: var(--black);
  font-size: 2rem;
}

.message p {
  font-size: 1rem;
}

button {
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--maroon);
  border: 1px solid var(--white);
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: var(--dkmaroon);
  color: var(--white);
  /* border-color: var(--white); */
}

.message-container.show {
  display: flex;
}
